<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= profile.username %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= profile.description %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= profile.job_title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= profile.location %>
  </p>

</div>
