
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px; background-color: #93e2bb;">
          <div class="card-body p-4 text-black">
            <div>
              
              <div class="d-flex align-items-center justify-content-between mb-3">
                <p class="small mb-0"><i class="far fa-clock me-2"></i>3 hrs</p>
                <p class="fw-bold mb-0">$90</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-4">
              <div class="flex-shrink-0">
                    <%= image_tag(@profile.avatar, class: "img-fluid rounded-circle border border-dark border-3", width: 70, height: 50) %>
             
              </div>
              <div class="flex-grow-1 ms-3">
                <div class="d-flex flex-row align-items-center mb-2">
                  <p class="mb-0 me-2">@sheisme</p>
                  <ul class="mb-0 list-unstyled d-flex flex-row" style="color: #1B7B2C;">
                    <li>
                      <i class="fas fa-star fa-xs"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-xs"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-xs"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-xs"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-xs"></i>
                    </li>
                  </ul>
                </div>
                <div>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-rounded btn-sm"
                    data-mdb-ripple-color="dark">+ Follow</button>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-rounded btn-sm"
                    data-mdb-ripple-color="dark">See profile</button>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-floating btn-sm"
                    data-mdb-ripple-color="dark"><i class="fas fa-comment"></i></button>
                </div>
              </div>
            </div>
            <hr>
            <p class="my-4 pb-1">52 comments</p>
            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-rounded btn-block btn-lg"><i
                class="far fa-clock me-2"></i>Book now</button>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="row">
  <div class="col-12">
    <%= image_tag(@profile.avatar, class: "rounded-circle img-fluid img-thumbnail", width: 100, height: 100) %>
  </div>
</div>

<div class="flex-grow-1 ms-3">
                <div class="d-flex flex-row align-items-center mb-2">
                  <p class="mb-0 me-2">@sheisme</p>
                  <ul class="mb-0 list-unstyled d-flex flex-row" style="color: #1B7B2C;">
                    <li>
                      <i class="fas fa-star fa-xs"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-xs"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-xs"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-xs"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-xs"></i>
                    </li>
                  </ul>
                </div>
                <div>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-rounded btn-sm"
                    data-mdb-ripple-color="dark">+ Follow</button>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-rounded btn-sm"
                    data-mdb-ripple-color="dark">See profile</button>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-floating btn-sm"
                    data-mdb-ripple-color="dark"><i class="fas fa-comment"></i></button>
                </div>
              </div>

<%= render @profile %>

<div>
  <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
  <%= link_to "Back to profiles", profiles_path %>

  <%= button_to "Destroy this profile", @profile, method: :delete %>
</div>
